# Environment variables
.env

# Python virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDE and OS specific
.vscode/
.idea/
*.DS_Store

# Conda environment files if created outside ./venv
# conda-meta/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/